
@{
    ViewBag.Title = "Constitution";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="imagewithcaption">
    <img src="~/assets/images/features/MSS halleys commet.png" alt="21st Anniversary trip" /><br />MSS 21st Anniversary celebratiopn (coinciding with Halley's Comet), April 1986 (Photo: Scott McFarlane)
</div>

<h2>Constitution</h2>
<p>@*Incorporated in 1966(??),*@ Metropolitan Speleological Society’s <a href="~/assets/Documents/MSS CONSTITUTION 2017.pdf">Constitution</a> has as its main objectives:</p>
<ul>
    <li>To encourage the pursuit of recreational caving, bushwalking, canyoning and other outdoor activities.</li>
    <li>To further knowledge of caving, bushwalking, canyoning and other outdoor activities within the community.</li>
    <li>To aid in the conservation of caves, canyons and wilderness areas.</li>
</ul>
