
@{
    ViewBag.Title = "Directions";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/PA210211.JPG" alt="Coorongooba camp ground" /><br />John Gray setting up in a prime spot at Coorongooba, 2017
</div>

<h2>Directions</h2>

<p>So, you’ve signed up to do a trip … to a place you’ve never been before.  You don’t want to car pool, but you’re not quite sure how to get there, or when you do get there, where we’ll be camping!  We all just assume that everyone knows where we’re going!  We’d like to make it as easy as possible to find your way to one of our adventures and then find where we are at the campsite.  Feel free to let us know of any additions to this list that are needed:</p>
<ul>
    <li><a href="~/assets/Documents/directions/Directions - Jenolan Cavers Hut.pdf">Jenolan Caves – Cavers Hut</a></li>
    <li><a href="~/assets/Documents/directions/Directions - Wombeyan.pdf">Wombeyan Caves – the special caver’s campsite</a></li>
    <li><a href="~/assets/Documents/directions/Directions - Cliefden.pdf">Cliefden Caves – the shearer’s quarters</a></li>
    <li><a href="~/assets/Documents/directions/Directions - Abercrombie.pdf">Abercrombie Caves – the campsite</a></li>
    <li><a href="~/assets/Documents/directions/Directions - Coorongooba Glen Davis.pdf">Coorongooba Campsite, Glen Davis</a></li>
    <li><a href="~/assets/Documents/directions/Directions - Barcoo Swamp.pdf">Barcoo Swamp (aka Rocky Creek Campsite), Newnes Plateau</a></li>
    <li><a href="http://ozultimate.com/canyoning/maps/south_wolgan_fire_trails_a3.pdf?fbclid=IwAR3Wwgp7mK705dz80hSGr3L-6hIG4tMY_ZGXGLEWYXt2I8njU5r7SqYlVgs" target="_blank">South Wolgan and Newnes Plateau area map showing forestry roads/creek systems – essential for those not familiar with the area</a></li>
</ul>
