
@{
    ViewBag.Title = "FiftiethPublication";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="imagewithcaption">
    <img src="~/assets/images/features/50th front cover_scastle_shawl_with_logo.jpg" width="400" alt="50th Publication" /><br />Cover of the 50th anniversary publication
</div>

<h2>Metropolitan Speleological Society’s 50th Anniversary</h2>

<p>It all started on a day in 1965 when a group of people met at Bungonia. They were going caving at The Grill cave – no helmets, no ropes to speak of, and no idea except to have a fun weekend. They liked caving and met other cavers there – who told them they were from an established caving club in Sydney (which will not be named). When those club members found out they were not experienced members of a known ASF club they shunned them completely.</p>
<p>So, they decided then and there to form a club. For the first six weeks, they were known as the Cambrian Speleological Society, until they realised that the initials (CSS) were the same as Canberra Speleological Society, so the name Metropolitan Speleological Club was proposed because everyone came from all around Sydney.</p>
<p>In 2016, MSS produced a publication which highlighted 50 years of camaraderie and caving adventures. Click <a href="~/assets/Documents/MSS 50th Anniversary Publication v20.pdf">here</a> to download a copy.</p>
