@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>Members</h2>
<p>Welcome to the members area!</p>
@*<p>Latest News</p>*@
<p>
    <h3>Latest Newsletter</h3><br />
    <a href="~/assets/Documents/newsletters/MSSWin2019.pdf">
        <img src="~/assets/images/newslettercovers/MSSWin2019.jpg" alt="Latest Newsletter" />
    </a>
</p>
<hr />
<p><h3>Retailer Discounts</h3></p>
<div style="padding-top:10px;">
    <div style="width:300px; display:inline-block"><img src="~/assets/images/logos/CanyonGear.jpg" alt="Canyon Gear" width="250" /></div>
    <div style="width:600px; display:inline-block"><strong>10% discount (Code MSSadventure):</strong> <a href="www.canyongear.com.au" target="_blank">www.canyongear.com.au</a> on-line supplier where Australian canyoners can get their hands on the very best gear available at affordable prices. Canyon Gear are particularly keen on items designed by active canyoners from around the world, utilising their wealth of knowledge and years of experience and are keen to promote items that have been designed and made in Australia for our specific conditions.</div>
</div>
<div style="padding-top:10px;">
    <div style="width:300px; display:inline-block"><img src="~/assets/images/logos/ClimbingAnchors_logo.png" alt="Climbing Anchors" width="250" /></div>
    <div style="width:600px; display:inline-block"><strong>10% discount (Code MSS18):</strong> <a href="www.climbinganchors.com.au" target="_blank">www.climbinganchors.com.au</a> – Climbing Anchors supplies quality climbing and caving hardware throughout Australia online and through their retail outlet in Alexandria.  They carry a wide range of caving equipment (ladders, helmets, ropes, ascenders and descenders) and actively support the caving community.</div>
</div>
<hr />

