
@{
    ViewBag.Title = "Leaders Resources";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/P7090404.jpg" alt="Mt Dawson" /><br />Two day overnight walk to Mt Dawson and Minotaur’s Lair Canyon, July 2017
</div>

<h2>Leaders Resources</h2>

<h3>CLUB PLB, ROPES and EQUIPMENT</h3>

<p>
	MSS has a PLB for use on Club trips.  Simply contact the equipment officer to book the PLB for your trip and organise a suitable time for pick up (and delivery when your trip is over).
	MSS has both 11mm and 9.5mm ropes for use on Club trips.  Contact the equipment officer to organise a suitable time for pick up (and delivery when your trip is over).  NOTE:  Ropes should be cleaned (water only) and neatly coiled prior to delivery.
</p>

<h3>TRIP LEADERS’ CHECK LIST</h3>

<p>
	This is a check list for trip leaders within MSS. It is primarily aimed for newer trip leaders, but can be a useful resource for all trip leaders.
	Before the trip
	<ul>
		<li>Plan details of the trip, ie date, meeting place and time, etc.</li>
		<li>Keep track of trip participants. In most cases this will also include having a maximum number of participants. Also ensure participants are capable of completing the trip.</li>
		<li>Borrow any club equipment that may be required</li>
		<li>Organise any permits that may be required.</li>
		<li>If appropriate or desired, set an RSVP date.</li>
		<li>Ensure either yourself or someone else on the trip has all the technical knowledge to run the trip, such as navigation, rigging skills, etc.</li>
		<li>Ensure conditions, such as weather, park closures, etc, are suitable for the trip going ahead</li>
	</ul>
	During the trip
	<ul>
		<li>Ensure any participants that are unfamiliar with any aspect of the trip are instructed appropriately. This includes things like minimum impact travel, no-go zones, etc.</li>
		<li>Collect trip fees</li>
	</ul>
	After the trip
	<ul>
		<li>Ensure trip report is written, usually by yourself unless you can convince someone else to do it.</li>
		<li>Return any borrowed club equipment, and notify the equipment officer if there are any issues with the equipment, such as wear and tear.</li>
	</ul>
</p>