
@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="imagewithcaption">
    <img src="~/assets/images/features/Alcatraz-400x400.jpg" alt="Alcatraz" /><br />Alcatraz Canyon, 2017
</div>

<h2>Links</h2>
<p>All links open in a new tab/window</p>

<h3>Speleological Links</h3>
<ul>
    <li><a href="http://www.caves.org.au/" target="_blank">Australian Speleological Federation (ASF)</a></li>
    <li><a href="http://nhvss.org.au/" target="_blank">Newcastle & Hunter Valley Speleological Society Inc.</a></li>
    <li><a href="http://www.canberraspeleos.org.au/index.html" target="_blank">The Canberra Speleological Society Inc.</a></li>
    <li><a href="http://iss.caves.org.au/" target="_blank">Illawarra Speleological Society (ISS)</a></li>
    <li><a href="http://oss.caves.org.au/" target="_blank">Orange Speleological Society (OSS)</a></li>
    <li><a href="http://bmsc.caves.org.au/" target="_blank">Blue Mountains Speleological Club</a></li>
    <li><a href="https://suss.caves.org.au/" target="_blank">Sydney University Speleological Society (SUSS)</a></li>
    <li><a href="http://digital.lib.usf.edu/karst" target="_blank">Karst Information Portal</a></li>
    <li><a href="https://www.caveanimaloftheyear.org.au/" target="_blank">Cave Animal of the Year</a></li>
</ul>

<h3>Outdoor Retailers</h3>
<ul>
    <li><a href="http://www.climbinganchors.com.au/" target="_blank">Climbing Anchors</a>&nbsp;– discounts available for on-line purchases</li>
    <li><a href="http://www.canyongear.com.au/" target="_blank">Canyon Gear</a>&nbsp;– discounts available for on-line purchases</li>
</ul>

<h3>Other Useful Information</h3>
<ul>
    <li><a href="https://canyoning.org.au/forum/" target="_blank">Canyoning Australia</a>&nbsp;– an online community where Aussie canyoners share information</li>
    <li><a href="https://www.animatedknots.com/" target="_blank">Animated Knots by Grog</a>&nbsp;– step by step instructions on learning useful knots</li>
    <li><a href="http://ozultimate.com/canyoning/catchments.htm" target="_blank">Catchment sizes for well known NSW Canyons</a></li>
    <li><a href="http://ozultimate.com/canyoning/canyon_guide.htm" target="_blank">Downloadable Canyon Guide by Tom Brennan OzUltimate</a></li>
    <li><a href="http://ozultimate.com/canyoning/maps/south_wolgan_fire_trails_a3.pdf?fbclid=IwAR3Wwgp7mK705dz80hSGr3L-6hIG4tMY_ZGXGLEWYXt2I8njU5r7SqYlVgs" target="_blank">South Wolgan and Newnes Plateau area map showing forestry roads/creek systems – essential for those not familiar with the area</a></li>
</ul>
  