
@{
    ViewBag.Title = "Merchandise";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<link href="~/Content/Merchandise.css" rel="stylesheet" type="text/css">

<h2>Merchandise</h2>

<table cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <td>&nbsp;</td>
            <td><strong>Price</strong></td>
            <td><strong>Description</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="~/assets/images/merchandise/glasses.jpg" alt="Wine Glasses" width="193" /></td>
            <td><strong>$10.00</strong></td>
            <td><strong>MSS 50th Anniversary Wine Glass</strong> – tough polycarbonate which makes it virtually indestructible (cocktails not included).  These wine glasses are a must around the campfire or at a car camp, super-sized possibly takes 2 standard drinks.</td>
        </tr>
        <tr>
            <td><img src="~/assets/images/merchandise/sox.png" alt="Socks" width="193" /></td>
            <td><strong>$10.00</strong></td>
            <td><strong>MSS Red Explorer Sox</strong> – with MSS label (Volleys and good looking male legs not included).  These sox are a must for MSS members, trips are often graded “Red Sox” (as opposed to Medium or Hard) which means that those on the trip will be wearing their Explorer Red Sox.  These sox are scarcer than hen’s teeth, only available through MSS, and at an unbelievable price – buy now while stocks last!</td>
        </tr>
        <tr>
            <td><img src="~/assets/images/merchandise/bottle.png" alt="Drink Bottle" width="193" /></td>
            <td><strong>$8.00</strong></td>
            <td><strong>Drink Bottle</strong>, tough as nails (just like MSS members) can be used on almost any trip, very versatile.</td>
        </tr>
        <tr>
            <td><img src="~/assets/images/merchandise/t-shirt.jpg" alt="T Shirt" width="193" /></td>
            <td><strong>$25.00</strong></td>
            <td>
                <strong>MSS 50th Anniversary T-Shirt or Polo Shirt</strong> – very versatile, can be worn anywhere, but a must for MSS social occasions.<br />
                Front:  Small Logo<br />
                Back:  MSS artwork<br />
                Colour:  Black<br />
                T-Shirt Sizes:  S, M, L, XL, XXL<br />
                Polo Sizes:  M, L<br />
            </td>
        </tr>
        <tr>
            <td><img src="~/assets/images/merchandise/hoodie.jpg" alt="Hoodie" width="193" /></td>
            <td><strong>$30.00</strong></td>
            <td>
                <strong>MSS 50th Anniversary Hoodie</strong> – best buy yet, toasty warm for around the campfire, yet dressy enough for a winter’s night out on the (small) town.  Buy now while stocks last.<br />
                Colour:  Black<br />
                Sizes:  S, M, L, XL, XXL
            </td>
        </tr>
    </tbody>
    </table>
<p>Postage not included but pick up can be organised.  To purchase these unique items at these amazingly low prices, contact Rod, <a href="mailto:secretary@mssadventure.org.au">secretary@mssadventure.org.au</a></p>
