
@{
    ViewBag.Title = "Reciprocal Arrangements";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>Reciprocal Arrangements</h2>
<p>Guidelines for setting up reciprocal arrangements between MSS and other clubs</p>

<ul>
    <li>All trips are advertised on the calendars of both clubs. With MSS we only advertise MSS trips on our public website, however our newsletter, monthly emails, and other communication with members would include appropriate trips from Reciprocal Clubs.</li>
    <li>We allow any ASF member on our trips, however this arrangement will make MSS trips more visible to Reciprocal Club members, and vice versa.</li>
    <li>Trip leaders have ultimate discretion on who comes on their trips. All trip leaders are encouraged to not discriminate and purely look at whether the person is capable of doing the trip.</li>
    <li>Trips are rarely considered joint trips. All participants pay trip fees to the trip leader as per the club running the trip.</li>
    <li>Where there is a limited number of spaces available on a trip then priority is given to members of the club running the trip, within reason. (ie people will not be kicked off a trip the night before because someone tries to get on a trip at the last minute)</li>
</ul>

<p>
    MSS leaders collect trip fees (either before or after the activity).   Please make sure you have the money with you on the day.  If you book into an activity with another club, you will be asked to pay the trip fees for that club OR MSS trip fees:
    <ul>
        <li>$3:  1 day activity</li>
        <li>$5:  2 – 4 days (inclusive)</li>
        <li>$10:  5+ days</li>
    </ul>
</p>

<h3>Current Reciprocal Arrangements</h3>
<ul>
    <li>Newcastle and Hunter Valley Speleological Society</li>
    <li>Canberra Speleological Society</li>
</ul>