
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/Field_Day-400x400.jpg" alt="MSS members on a recent Field Day honing their skills for canyons and vertical caves" /><br />MSS Members on a recent Field Day honing their skills for canyons and vertical caves – Image:  Marilyn Scott
</div>

<h2>About Us</h2>

<p>Metropolitan Speleological Society was founded in 1965 and we are still going strong more than 50 years later.  Initially, the majority of our members were based in the Sydney (metropolitan) area, but these days our members live as far afield as the Southern Highlands, north-western NSW, the Blue Mountains and the Central Coast!</p>

<p>
	What are the benefits of belonging to MSS?
	<ul>
		<li>As we’re a speleo club (and a corporate member of the Australian Speleological Federation - ASF) we’re able to visit restricted caves that the general public doesn’t have access to.</li>
		<li>As a Member of MSS (and therefore ASF), subject to space, you can apply to participate in the trips of other caving clubs.  Most clubs “specialise” in a caving area, so being able to join them on a trip to their home turf is a bonus!</li>
		<li>As a corporate member of ASF, MSS has Third Party Liability insurance which covers third parties who are injured by members participating in a club trip.</li>
		<li>Our members have extensive knowledge ranging from navigation and bushcraft to surveying a cave and how to cook a gourmet meal in a camp oven – and they want to pass that knowledge on!</li>
		<li>MSS has a range of equipment from caving gear to ladders, ropes and a Personal Locator Beacon (PLB) so you don’t need to buy and store this type of equipment (unless you want to, of course!).</li>
	</ul>
	@Html.ActionLink("Contact Us", "Contact", "Home") now to find out how to join us on our adventures!
</p>