
@{
    ViewBag.Title = "Abseiling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/abseiling400x400.jpg" alt="Abseiling" /><br />Abseiling into Thampana Rockhole, Nullarbor, 2013
</div>

<h2>Abseiling</h2>

<p>Abseiling is a year round activity, whether it’s a vertical cave where abseiling is the only way down or multi pitch abseils when it’s too cold to get wet in a canyon.</p>
<p>For the truly adventurous, occasionally the Big Drops (such as Pierces Pass or the Big Hole) appear on the calendar.</p>
<p>It’s not unusual for us to take our abseiling gear on an exploratory bushwalk, forcing our way up through a cliff-line.  Then, rather than down climbing the way we came, we’ll just throw over a rope and abseil.</p>
<p>
	As a MSS member you’ll have the opportunity to learn:
	<ul>
		<li>Abseiling techniques;</li>
		<li>SRT techniques for ascending the rope; and</li>
		<li>Crossing knots or crossing over to rebelays</li>
	</ul>
</p>
<p>Check out our <a href="~/assets/Documents/gear list.pdf">gear list</a> to see what you need to get started (not much)! We also have some basic club equipment that can be shared around to help you learn the ropes and we are happy to share tips and details regarding gear purchase.</p>
