
@{
    ViewBag.Title = "Adventures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/climbing_shandy_Stuckey.jpg" alt="Climbing Shandy" /><br />David S Climbing Shandy (Blue Mountains NSW) – Image:  Johan Verhagen
</div>

<h2>Adventures</h2>

<p>In the early days, the club concentrated on caving but these days we participate in a broad range of outdoor activities including:</p>

<p>
	<ul>
		<li>
			<a href="~/Home/Caving"><img src='~/assets/images/icons/cave_b.gif' alt='Caving' /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="~/Home/Caving">Caving</a> - Underground trips ranging from easy to difficult
		</li>
		<li>
			<a href="~/Home/Canyoning"><img src='~/assets/images/icons/canyon_b.gif' alt='Canyoning' /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="~/Home/Canyoning">Canyoning</a> - Anything from a lilo trip down the Wollangambe to exploratory trips
		</li>
		<li>
			<a href="~/Home/Canyoning"><img src='~/assets/images/icons/abseil_b.gif' alt='Abseiling' /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="~/Home/Abseiling">Abseiling</a> - Some of us like nothing better than hanging off a rope
		</li>
		<li>
			<a href="~/Home/Bushwalking"><img src='~/assets/images/icons/walk_b.gif' alt='Bushwalking' /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="~/Home/Bushwalking">Bushwalking</a> - Usually off track and always an adventure
		</li>
		<li>
			<a href="~/Home/MountainBiking"><img src='~/assets/images/icons/mtb_b.gif' alt='Mountain Biking' /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="~/Home/MountainBiking">Mountain Biking</a> - Sometimes the easiest way to get to a canyon
		</li>
		<li>
			<img src='~/assets/images/icons/learn_b.gif' alt='Field Days' />&nbsp;&nbsp;&nbsp;&nbsp;Field Days - The opportunity to practice new skills in a controlled environment
		</li>
		<li>
			<a href="~/Home/KiteFlying"><img src='~/assets/images/icons/kites_b.gif' /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="~/Home/KiteFlying">Kite Flying</a> - Flying kites from the highest peak in Australia
		</li>
		<li>
			<img src="~/assets/images/icons/4wd_b.gif" alt="Social" />&nbsp;&nbsp;&nbsp;&nbsp;Car Camping - The poor man's "glamping"
		</li>
		<li>
			<img src='~/assets/images/icons/climb_b.gif' alt='Rock Climbing' />&nbsp;&nbsp;&nbsp;&nbsp;Rock Climbing - Occasionally we look at cliffs and just want to go straight up
		</li>
		<li>
			<img src="~/assets/images/icons/coffee_b.gif" alt="Social" />&nbsp;&nbsp;&nbsp;&nbsp;Social - activities where socialising is a major component of the activity such as the Christmas Party, or our General Meetings
		</li>
	</ul>
</p>