
@{
	ViewBag.Title = "Bushwalking";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/P1050034-400x400.JPG" alt="Having entirely too much fun on a bushwalk" /><br />Having too much fun on a 2day walk – Image:  Marilyn Scott
</div>

<h2>Bushwalking</h2>

<p>While bushwalks are sometimes seen by die-hard adventurers as something you have to put up with if you want to go canyoning, a large number of MSS members simply feel the need to “get away from it all”. This call of the wild can be anything from a half-day walk in the Blue Gum Forest to a more adventurous multi-day off track exploratory wilderness experience in the Gardens of Stone or Northern Wollemi.</p>
<p>Picture yourself walking across untracked ridges with stunning views of cliffs and pagodas, then arriving at a babbling brook.  Doesn’t take long to set up camp, have a swim to wash off the sweat and dust, then get a roaring fire going.  All that’s left is to sit back against a towering gum tree with the billy boiling and the stars sparkling above and enjoy a simple hearty meal with friends.</p>
<p>To top it off, we know all the good places to go to get away from it all. All you need is your backpack and camping gear and a sense of adventure! </p>
<p>If you’re new to bushwalking and want to “give it a go”, check out our <a href="~/assets/Documents/gear list.pdf">gear list</a> to see what you need to get started.  We also have limited gear to loan out and we’re happy to share tips and details regarding gear purchase.</p>
