
@{
	ViewBag.Title = "Canyoning";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/JohnGray_high res-400pxx400.jpg" alt="Black Hole of Calcutta" /><br />Johan V in Black Hole of Calcutta (Claustral) – Image:  John Gray
</div>

<h2>Canyoning</h2>

<p>MSS members have been abseiling and canyoning since the early 90s and with the first hint of summer we’re out there either doing old favourites or searching for unpublished canyons – and yes, there are some of us who canyon all the way through winter!</p>
<p>Canyoning involves a number of activities, including bushwalking and route finding, abseiling, swimming and climbing. It can be a simple as a three hour walk through a green, fern-filled gully or it can be a challenging 12 hour epic (but a GREAT adventure). Multi-day canyoning trips (planned, of course!) are not unknown in MSS.</p>
<p>We frequently run exploratory trips looking for new slots that no one has set eyes on before and our adventures take us deep into the Blue Mountains, out to the valleys of Newnes and Glen Davis, as well as much further afield.</p>
<p>As a MSS member you’ll have the opportunity to learn:</p>
<ul>
	<li>Abseiling techniques;</li>
	<li>Knots and setting up anchors; and</li>
	<li>Navigation</li>
</ul>
<p>For most other people canyoning is a summer activity, but at MSS we like to canyon throughout the year … when we aren’t caving that is!</p>
<p>If you’re new to canyoning, check out our <a href="~/assets/Documents/gear list.pdf">gear list</a> to see what you need to get started (not much) and we’re happy to share tips and details regarding gear purchase.</p>