
@{
	ViewBag.Title = "Caving";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/mammoth-400x400.jpg" alt="Lower River traverse in Mammoth Cave, Jenolan" /><br />Rob C in Mammoth Cave – Image:  David Stuckey
</div>

<h2>Caving</h2>

<p>As our name implies, we’re first and foremost a caving club. Caving is one of our passions and we have extensive knowledge of many of NSW’s best caving areas and whenever we get the chance, we extend our range to Tasmania, South Australia, Western Australia and New Zealand.</p>
<p>We run caving trips for every experience level, from easy to advanced. Most of our caving occurs during winter, because - let's face it - summer is for canyoning!</p>
<p>Caving consists of far more than just crawling through dark passages. As a member of MSS you may get to try:</p>
<ul>
	<li>Vertical caving – abseiling down into the cave and then getting out either using a cave ladder or SRT (single rope techniques).  We regularly run field days to teach these techniques to new members.</li>
	<li>Surface exploration – looking around for cave entrances or dolines (funnel shaped hollows in the ground often indicating a cave below)</li>
	<li>Cave surveying – learning how to draw a map of the cave</li>
	<li>Cave photography</li>
</ul>
<p>Check out our <a href="~/assets/Documents/gear list.pdf">gear list</a> to see what you need to get started (not much!). We also have some basic club equipment that can be shared around to help you learn the ropes and we are happy to share tips and details regarding gear purchase.</p>
<p>Most caving areas have campsites nearby so our caving trips are usually two-day affairs and involve “car camping” (setting up camp beside your car) which means you can bring those little luxuries that make camping an amazing experience.  Some of these caving camp sites come with hot showers – life doesn’t get much better than that!</p>
