@{
	ViewBag.Title = "Contact Confirmation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Forms.css" rel="stylesheet" type="text/css">

<div class="imagewithcaption">
	<img src="~/assets/images/features/climb_out_of_Wounded_Knee_JGray-400x400.jpg" alt="Exit Climb from Wounded Knee Canyon – Image:  John Gray" /><br />Exit Climb from Wounded Knee Canyon – Image:  John Gray
</div>

<h2>Contact MSS</h2>

<p>@ViewBag.TheMessage</p>

