
@{
    ViewBag.Title = "HowToJoin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/barralong1-400x400.jpg" alt="Rob Clyne in the spectacular Barralong Cave, Jenolan" /><br />Barralong Cave – Image:  David Stuckey
</div>

<h2>How To Join</h2>

<p>Send an email to <a href="mailto:membership@mssadventure.org">membership@mssadventure.org.au</a> and we’ll send you a membership application form.  Simply fill out the form, mail (or scan and email) to us, direct debit the membership fee and we’ll take care of the rest.</p>

<p>
	Membership Information:
	<ul>
		<li>Full membership: $80 per year per person</li>
		<li>Family membership: $160 per year for two adults plus children</li>
		<li>Family membership: $120 per year for one adult plus children</li>
		<li>Club membership only (already a member of another ASF affiliated club): $30 per year</li>
		<li>Trial Membership: $30 per person for the first 12 months</li>
		<li>If joining mid-way through the calendar year, membership fees are calculated on a pro rata basis</li>
	</ul>
</p>

<p>
	Notes on membership and participation:
	<ul>
		<li>Members can be any age, however anyone under 18 years of age must be accompanied by a parent or guardian (who must be a financial member).  We regularly run “kid friendly” trips.</li>
		<li>If you wish to bring a friend along, check with the leader if the trip is appropriate, if it is, they will need to take out Trial Membership.</li>
		<li>Trip Fees are charged and range between $3 and $10, depending on the trip (these fees are deposited to the MSS account).</li>
		<li>A small fee of $5 pp/per night is also charged for caving trips to Jenolan Caves where use is made of Caver’s Cottage.</li>
		<li>Car-pooling is encouraged (in which case, at the discretion of the owner, expenses are shared amongst those in the vehicle).</li>
	</ul>
	@Html.ActionLink("Contact Us", "Contact", "Home") now for a membership application form!
</p>