
@{
	ViewBag.Title = "Kite Flying";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/P4150397_cropped.jpg" alt="David Stuckey with his 10-kite creation" /><br />David with his 10 kite creation – Image:  Marilyn Scott
</div>

<h2>Kite Flying</h2>

<p>Don’t be misled by cheap imitations - MSS was the instigator of  the now popular "Kites over Kosci" experience.</p>
<p>We’ve tried flying kites elsewhere but Mount Kosciuszko (Kosci) is THE place and it is not unusual to have up to 10 kites in the thermal air currents at once.</p>
<p>The kite flying is usually teamed up with a multi-day trek through the Snowy Mountains, flying kites from peaks along the route!</p>
<p>We plan the route to escape the tourists and crowds along the way and ensure a true Aussie Wilderness experience!</p>