
@{
	ViewBag.Title = "Mountain Biking";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="imagewithcaption">
	<img src="~/assets/images/features/MTB - Beth-400x400.jpg" alt="Blue Mountains Ride 2016" /><br />Blue Mountains Ride 2016
</div>

<h2>Mountain Bike Riding</h2>

<p>We don’t do it often but mountain biking is a bit of a passion with some of our members.  There are times when walking is just too slow, or where the only access is by bike (some of the access roads to out-of-the-way canyons have a locked gate now, so a mountain bike can come in handy to chew up those kms on the fire trails!).</p>
<p>Not all of our cycling trips are to out-of-the-way places, they are often planned specifically to include gourmet lunches and coffee shops en-route!</p>
