
@{
    ViewBag.Title = "NullarborPhotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NullarborPhotos</h2>

<ul>
    <li><a href="~/assets/zips/RodsNullarbor1.zip">First zip</a></li>
    <li><a href="~/assets/zips/RodsNullarbor2.zip">Second zip</a></li>
    <li><a href="~/assets/zips/RodsNullarbor3.zip">Third zip</a></li>
    <li><a href="~/assets/zips/RodsNullarbor4.zip">Fourth zip</a></li>
    <li><a href="~/assets/zips/RodsNullarbor5.zip">Fifth zip</a></li>
    <li><a href="~/assets/zips/RodsNullarbor6.zip">Sixth zip</a></li>
</ul>